 body{
    font-family:General Sans, sans-serif;
    margin:0;
    background-color:rgb(245 243 234);
}
.container{
    top:0;
    /* font-weight:bold; */
    font-size: 20px;
    font-family:General Sans, sans-serif;
    display:flex;
    gap:45px;
    color:rgb(27 28 29);
    padding-top:40px;
    padding-left:10px;
    padding-right:10px;
    position:fixed;
    width:100%;
    height:70px;
    background-color:rgb(255 255 255 / 30%);
    backdrop-filter:blur(3px);

}
#second{
 padding-left:50px;
 font-weight:bold;
}
#first{
 padding-right:60px;
 padding-left:30px;
}
#third{
    border:none;
    background-color:rgb(255 153 102);
    width:140px;
    height:30px;
    padding:5px;
    border-radius:5px;
    text-align:center;
}
#third:hover{
    background-color:white;
    border:3px solid rgb(255 153 102);
}
#second:hover{
    color:rgb(255 153 102);
}
#content{
    font-weight:600;
    font-size:46px;
    width:600px;
    padding-left:30px;
}
#co{
    padding-left:30px;
    width:600px;
    font-weight:40px;
    font-size:20px;
    padding-top:0;
    line-height: 30px;
}
#core{
    font-family:General Sans, sans-serif;
    padding-top:90px; 
    display:flex; 
    gap:40px;
}
#camp{
  gap:40px;
  padding:20px;
  margin-top:30px;
}
#box{
    float:right;
}
#collapse{
    margin-top:50px;
    margin-left:-60px;
    margin-right:20px;
}
#details{
    display:flex;
    margin-left:30px;
    margin-top:40px;
    padding:10px;
    background-color:white;
    width:320px;
    border-radius:3px;
    font-weight:bold;
}
#bo{
    border:none;
    background-color:rgb(255 153 102);
    padding:10px;
    margin:5px;
    border-radius:3px;
    width:100px;
    text-align:center;
}
#bo:hover{
    background-color:white;
    border:3px solid rgb(255 153 102);
}
.email{
    border:none;
    font-weight:bold;
    font-size:15px;
}
 input:focus{
    outline:none;
    border:none;
 }
 #accelerator{
    float:right;
    margin-right:80px;
 }
 #star{
    display:flex;
    margin-left:50px;
    margin-top:5px;
 }
.part1{
    height:700px; 
}
#part2{
    display:flex;
    justify-content:space-around;
    padding:80px 10px;
    background-color:white;
}
#part3{
    display:flex;
    gap:30px;
    line-height:30px;
}
#section{
    background-color: white;
    margin:1px;
    text-align:center;
    padding:20px;
    height:500px;
}
#section h1{
    margin-block-end:100px;
    width:700px;
    /* margin-left:100px; */
    padding-left:300px;
}
#content-img{
    margin-top:70px;
    margin-bottom:70px;
    margin-left:40px;
    display:flex;
    height:400px;
}
#part4{
    margin-left:50px;
    padding-left:50px;
    padding-right:30px;
    line-height:30px;
    gap:30px;
}
#part4 h1{
    line-height:50px;
    font-size:40px;
}
#part4 p{
    font-size:18px;
}
 #person{
box-shadow:5px 5px;
border-radius:5px;
}
#cross{
    display:flex;
    gap:30px;
}
#cross h1{
    font-size:60px;
    margin-block-end:0px;
    color:rgb(255 153 102);
}
#decor{
    /* margin-top:-200px; */
    /* margin-left:-40px; */
    position:absolute;
}

